<div class="container pagecontainer">
  <div class="page-header">
      <h1>Artist Details</h1>
  </div>
  <form class="form-horizontal">
      <div class="form-group">
          <label for="artistname" class="col-sm-2 control-label">Name</label>
          <div class="input-group col-sm-10">
            <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div>
              <div class="form-ele">{{ artist?.artistname }}</div>
          </div>
      </div>
      <div class="form-group">
          <label for="status" class="col-sm-2 control-label">Status</label>
          <div class="input-group col-sm-10">
              <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div>
              <div class="form-ele">{{ artist?.status }}</div>
          </div>
      </div>
      <div class="form-group">
          <label for="artistphoto" class="col-sm-2 control-label">Photo</label>
          <div class="input-group col-sm-10">
            <img src="{{ artist?.artistphotopath }}" class="rounded float-right" width="300" height="300">
          </div>
      </div>
      <div class="form-group">
          <label for="listalbum" class="col-sm-2 control-label">Album</label>
          <div class="input-group col-sm-10" *ngIf="albums && totalrows > 0">
              <div class="col-sm-12 col-md-10">
                  <i>({{ totalrows }} albums found) </i> 
              </div><br>
              <div class="col-sm-12 col-md-10">
                  <div class="table-responsive">
                      <table class="table table-striped" width="50%">
                          <thead>
                              <tr>
                                  <th width="30%"><a style="cursor:pointer" (click)="sortAlbum('albumname')">Album Name</a></th>
                                  <th width="5%"><a style="cursor:pointer" (click)="sortAlbum('albumyear')">Year</a></th>
                                  <th width="9%"><a style="cursor:pointer" (click)="sortAlbum('albumgenre')">Genre</a></th>
                                  <th width="10%" class="text-right"><a style="cursor:pointer" (click)="sortAlbum('albumprice')">Price</a></th>
                                  <th width="6%"><a style="cursor:pointer" (click)="sortAlbum('status')">Status</a></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor='let albm of albums; let albIndex = index'>
                                  <td>{{ albm.albumname}}</td>
                                  <td>{{ albm.albumyear}}</td>
                                  <td>{{ albm.albumgenre}}</td>
                                  <td class="text-right">{{ albm.albumprice | currency: 'IDR':true }}</td>
                                  <td>{{ albm.status}}</td>
                              </tr>
                              
                          </tbody>
                      </table>
                  </div>
        
                  <div style="text-align:center" *ngIf="albums && totalrows > 10">
                      <nav aria-label="Page navigation">
                          <ul class="pagination">
                              <li *ngFor="let item of createPager(pgCounter); let idx = index">
                                  <a [ngClass]="{'selected': qpage == idx + 1 }" class="selected" style="cursor:pointer" (click) = "setPage(idx + 1)">{{ idx + 1 }}</a>
                              </li>
                          </ul>
                      </nav>
                  </div>
        
              </div>
          </div>      
      </div>

      <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
              <button type="button" (click)="onBack()" class="btn btn-default">Back</button>
          </div>
      </div>
  </form>

</div>
