<div class="container pagecontainer">
  <div class="page-header">
      <h3>Artist Details</h3>
  </div>
  <div class="row">
    <div class="col-sm-8">
        <form [formGroup]="artistForm" class="form-horizontal">
            <div class="form-group">
                <label for="artistname" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10 form-ele">{{ artist?.artistname }}
                  <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div>
                    <div class="form-ele">{{ artist?.artistname }}</div> -->
                </div>
            </div>
            <div class="form-group">
                <label for="status" class="col-sm-2 control-label">Status</label>
                <div class="col-sm-10" style="padding:0;margin:0;">
                    <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div> -->
                    <select class="form-control selectfontsize" [formControl]="status" disabled>
                          <option *ngFor="let a of sts" [ngValue]="a.code">{{a.value}}</option>
                    </select>
                    <!-- <div class="form-ele">{{ artist?.status }}</div> -->
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-4 thumbpadding">        
        <img src="{{ artist?.artistphotopath }}" class="img-thumbnail thumbviewsize">
    </div>
  </div>
  
    <div class="row">
        <div class="col-sm-12 dtlpadding" *ngIf="albums && totalrows > 0">
            <div class="col-sm-12 col-md-12">
                <b>( TOTAL : {{ totalrows }} albums ) </b> 
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped" width="80%">
                        <thead>
                            <tr>
                                <th width="30%"><a style="cursor:pointer" (click)="sortAlbum('albumname')">Album Name</a></th>
                                <th width="5%"><a style="cursor:pointer" (click)="sortAlbum('albumyear')">Year</a></th>
                                <th width="9%"><a style="cursor:pointer" (click)="sortAlbum('albumgenre')">Genre</a></th>
                                <th width="10%" class="text-right"><a style="cursor:pointer" (click)="sortAlbum('albumprice')">Price</a></th>
                                <th width="6%"><a style="cursor:pointer" (click)="sortAlbum('status')">Status</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let albm of albums; let albIndex = index'>
                                <td>{{ albm.albumname}}</td>
                                <td>{{ albm.albumyear}}</td>
                                <td>{{ albm.genrevalue}}</td>
                                <td class="text-right">{{ albm.albumprice | currency: 'IDR':true }}</td>
                                <td>{{ albm.stsvalue}}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
    
                <div style="text-align:center" *ngIf="albums && totalrows > 10">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li *ngFor="let item of createPager(pgCounter); let idx = index">
                                <a [ngClass]="{'selected': qpage == idx + 1 }" class="selected" style="cursor:pointer" (click) = "setPage(idx + 1)">{{ idx + 1 }}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
    
            </div>
        </div>      
    </div>

      <div class="row">
          <div class="col-sm-12">
              <button type="button" (click)="onBack()" class="btn btn-default">Back</button>
          </div>
          <br>
      </div>

</div>
