<div class="container pagecontainer">
  <div class="page-header">
      <h3>List Song</h3>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Search Parameter</h3>
    </div>
    <div class="panel-body">
      <form [formGroup]="reportForm" (ngSubmit)="getReport(reportForm.value)" class="form-horizontal" novalidate autocomplete="off">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label for="artistid">Artist</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div>
                    <select class="form-control" [formControl]="artistid" (change)="artistChangeEvent($event)">
                        <option ng-selected="true" value="">Select the artist</option>
                        <option *ngFor="let artist of artistlist" [ngValue]="artist._id">{{artist.artistname}}</option>
                    </select>
                  </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <label for="albumid">Album</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div>
                    <select class="form-control" [formControl]="albumid">
                        <option ng-selected="true" value="">Select the album</option>
                        <option *ngFor="let album of albumlist" [ngValue]="album._id">{{album.albumname}}</option>
                    </select>
                  </div>
            </div>


          </div><br>

          <div class="row">
              <div class="col-sm-12 col-md-6">
                  <label for="songname">Song Name</label>
                  <div class="input-group col-sm-10">
                      <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div>
                      <input type="text" class="form-control" id="songname" [formControl]="songname" placeholder="Song Name">
                  </div>
              </div>
              <div class="col-sm-12 col-md-2">
                  <label for="albumyear">Album Year</label>
                  <div class="input-group col-sm-10">
                      <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div>
                      <input type="text" class="form-control" id="albumyear" [formControl]="albumyear" placeholder="Album Year">
                  </div>
              </div>
              <div class="col-sm-12 col-md-3">
                  <label for="songgenre">Genre</label>
                  <div class="input-group col-sm-10">
                      <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div>
                      <select class="form-control" [formControl]="songgenre">
                        <option ng-selected="true" value="">Select the genre</option>  
                        <option *ngFor="let g of genre" >{{g}}</option>
                      </select>
                  </div>
              </div>
          </div><br>
          <div class="row">
              <div class="col-sm-12 col-md-3">
                  <label for="songpublish">Publish?</label>
                  <div class="input-group col-sm-10">
                      <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div>
                      <select class="form-control" [formControl]="songpublish">
                        <option ng-selected="true" value="">Select the options</option>  
                        <option *ngFor="let a of ynlist" >{{a}}</option>
                      </select>
                  </div>
              </div>  
              <div class="col-sm-12 col-md-3">
                  <label for="songbuy">Buy?</label>
                  <div class="input-group col-sm-10">
                      <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div>
                      <select class="form-control" [formControl]="songbuy">
                        <option ng-selected="true" value="">Select the options</option>  
                        <option *ngFor="let a of ynlist" >{{a}}</option>
                      </select>
                  </div>
              </div>  
              <div class="col-sm-12 col-md-3">
                  <label for="status">Status</label>
                  <div class="input-group col-sm-10">
                      <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div>
                      <select class="form-control" [formControl]="status">
                        <option ng-selected="true" value="">Select the status</option>  
                        <option *ngFor="let a of sts" >{{a}}</option>
                      </select>
                  </div>
              </div><br>
              <div class="col-sm-12 col-md-2">
                  <button type="submit" class="btn btn-primary" [disabled]="reportForm.invalid">Submit</button>
              </div>                  
          </div>
      </form>
    </div>
  </div>
  <div class="panel panel-danger" *ngIf="songs && totalrows < 1">
      <div class="panel-heading">
          <h3 class="panel-title">No song found</h3> 
      </div>

      <div class="panel-body">
          It seems like you havn't entered any songs for the selected criteria. Please add the song <a style="cursor:pointer" (click)="toaddSongs()">here</a>.
      </div>
  </div>

  <div class="panel panel-default" *ngIf="songs && totalrows > 0">
      <div class="panel-heading">
          <h3 class="panel-title"><i>{{reportTitle}}</i> <b> ({{ totalrows }} records found)</b> </h3> 
      </div>
      <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th width="20%"><a style="cursor:pointer" (click)="sortSong('songname')">Song Name</a></th>
                          <th width="20%">Artist</th>
                          <th width="20%">Album</th>
                          <th width="5%"><a style="cursor:pointer" (click)="sortSong('albumyear')">Year</a></th>
                          <th width="9%"><a style="cursor:pointer" (click)="sortSong('songgenre')">Genre</a></th>
                          <th width="10%"><a style="cursor:pointer" (click)="sortSong('songprice')">Price</a></th>
                          <!-- <th width="6%"><a style="cursor:pointer" (click)="sortAlbum('status')">Status</a></th> -->
                          <th width="20%">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor='let song of songs; let songIndex = index'>
                          <td><a style="cursor:pointer" (click)="showSong(song._id)" data-toggle="tooltip" data-placement="top" title="View Detail">{{ song.songname}}</a></td>
                          <td>{{ song.artist }}</td>
                          <td>{{ song.album }}</td>
                          <td>{{ song.albumyear}}</td>
                          <td>{{ song.songgenre}}</td>
                          <td class="text-right">{{ song.songprice | currency: 'IDR':true }}</td>
                          <!-- <td>{{ albm.status}}</td> -->
                          <td>
                              <button type="button" class="btn-xs btn-info" aria-label="View" (click)="editSongFiles(song._id, song.songpublish, song.songbuy)">
                                  <span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Change Song File"></span>
                              </button>
                              <button type="button" class="btn-xs btn-danger" aria-label="Edit" (click)="editSong(song._id, song.songpublish, song.songbuy)" data-toggle="tooltip" data-placement="top" title="Change Song Data">
                                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                              </button>
                              <button type="button" class="btn-xs btn-primary" aria-label="Delete" (click)="confirmDel(songIndex, song._id, song.songpublish, song.songbuy)" data-toggle="tooltip" data-placement="top" title="Delete Song">
                                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                              </button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div> 
          <div style="text-align:center" *ngIf="songs && totalrows > 10">
              <nav aria-label="Page navigation">
                  <ul class="pagination">
                      <li *ngFor="let item of createPager(pgCounter); let idx = index">
                          <a [ngClass]="{'selected': qpage == idx + 1 }" class="selected" style="cursor:pointer" (click) = "setPage(idx + 1)">{{ idx + 1 }}</a>
                      </li>
                  </ul>
              </nav>
          </div> 
      </div>
  </div>
</div>