<div class="container pagecontainer">
  <div class="page-header">
      <h3>Dashboard</h3>
  </div>

  <form class="form-horizontal">
    <div class="form-group">
        <label for="labelname" class="control-label">Name</label>
        <div class="input-group col-sm-12">
          <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
            <div class="form-ele">{{ this.name }}</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="control-label">Email</label>
        <div class="input-group col-sm-12">
            <div class="input-group-addon">@</div>
            <div class="form-ele">{{ this.email }}</div>
        </div>
    </div>
    <div class="form-group" *ngIf="authService.isLoggedIn() && authService.currentUser.usertype == 'LBL'">
      <label for="contactno" class="control-label">Contact No</label>
      <div class="input-group col-sm-12">
          <div class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></div>
          <div class="form-ele">{{ this.contactno }}</div>
      </div>
    </div>
    <div class="form-group" *ngIf="authService.isLoggedIn() && authService.currentUser.usertype == 'LBL'">
        <label for="balance" class="control-label">Balance</label>
        <div class="input-group col-sm-12">
            <div class="input-group-addon"><i class="glyphicon glyphicon-bold"></i></div>
            <div class="form-ele">{{ this.balance | currency:'IDR':'symbol-narrow'}}</div>
        </div>
    </div>
    <div class="form-group" *ngIf="authService.isLoggedIn() && authService.currentUser.usertype == 'LBL'">
      <div class="input-group col-xs-11 col-sm-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Total Assets</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <a style="cursor:pointer" (click)="toArtists()" class="list-group-item borderless bordersideless">Total active artists <span class="badge"><b><i>{{ this.totalrows }}</i></b></span></a>
                    <a style="cursor:pointer" (click)="toAlbums()" class="list-group-item bordersideless">Total active albums <span class="badge"><b><i>{{ this.totalalbums }}</i></b></span></a>
                    <a style="cursor:pointer" (click)="toSongs()" class="list-group-item bordersideless">Total active songs <span class="badge"><b><i>{{ this.totalsongs }}</i></b></span></a>
                </ul>
            </div>
        </div>
      </div>  
      <div class="col-xs-1 col-sm-4"></div>
<!--         <label class="col-sm-2 control-label"></label>
        <div class="col-sm-7">
            You have <b><i><a style="cursor:pointer" (click)="toArtists()">({{ this.totalrows }})</a></i></b> active artists, <b><i><a style="cursor:pointer" (click)="toAlbums()">({{ this.totalalbums }})</a></i></b> active albums, 
            and <b><i><a style="cursor:pointer" (click)="toSongs()">({{ this.totalsongs }})</a></i></b> active songs.
        </div> -->
    </div>
    
    <div class="form-group" *ngIf="authService.isLoggedIn() && authService.currentUser.usertype == 'ADM'">
        <div class="input-group col-xs-11 col-sm-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Approval Summary</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <a style="cursor:pointer" (click)="toLabelApv()" class="list-group-item borderless bordersideless">Total pending labels <span class="badge"><b><i>{{ this.totalpendinglabel }}</i></b></span></a>
                        <a style="cursor:pointer" (click)="toSongMgt()" class="list-group-item bordersideless">Total pending to publish songs <span class="badge"><b><i>{{ this.totalpendingsong }}</i></b></span></a>
                    </ul>
                </div>
            </div>
        </div>  
        <div class="col-xs-1 col-sm-4"></div>
    </div>

    <div class="form-group" *ngIf="authService.isLoggedIn() && authService.currentUser.usertype == 'LIS'">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-7">
            You have logged in as Listener. <br>
            Please use the kaXet mobile apps to buy songs.
        </div>
    </div>
  </form>

</div>