  <!-- <div class="page-header">
    <h1></h1>
  </div> -->
  <!-- <div class="jumbotron">
    <img src="../../../cassetteicon.png">
      <h2>kaXet v1.0</h2>
      <p>An app for inspiring and commercial music</p>
  </div> -->
  <!--========== SLIDER ==========-->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="container">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>
    </div>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" id="slide1">
            <img src="assets/images/earphones.jpeg" alt="Slider Image">
            <div class="container">
                <div class="carousel-centered">
                    <div class="margin-b-40">
                        <h2 class="carousel-title">Level UP</h2>
                        <p class="pcarousel">We bring your music to the Next Level <br/> Kaxet is online music store for artists who want to get fair and worth royalty of their music art</p>
                    </div>
                    <a class="btn-theme btn-theme-sm btn-yellow-brd text-uppercase" routerLink="../login" routerLinkActive="active">Login / Register</a>
                </div>
                
            </div>
        </div>
        <div class="item" id="slide2">
           <img src="assets/images/saxophone-3.jpg" alt="Slider Image">
            <div class="container">
                <div class="carousel-centered">
                    <div class="margin-b-40">
                        <h1 class="carousel-title">Profit UP</h1>
                        <p class="pcarousel">Monetize your music is never been easier.<br/>Sign up and publish your song anywhere </p>
                    </div>
                    <!-- <a routerLink="../login" routerLinkActive="active" class="btn-theme btn-theme-sm btn-yellow-brd text-uppercase">Login / Register</a> -->
                </div>
            </div>
        </div>
    </div>
  </div>
  <!--========== SLIDER ==========-->

  <!-- Service -->
  <div class="bg-color-sky-light" data-auto-height="true">
    <div class="content-lg container">
        <hr class="line-grey-center">
        <div class="center">
            <div class="service-header">
                <div class="headericon">
                    <i class="service-icon icon-action-redo"></i>
                </div>
                <label><h3>Getting started is As simple As ever</h3></label>
                <div class="headericon-right">
                    <i class="service-icon icon-action-undo"></i>
                </div>
            </div>
        </div>
        <div class="row row-space-1 margin-b-2">
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-cloud-download"></i>
                        </div>
                        <div class="service-info">
                            <h3>Download Kaxet app. FREE</h3>
                            <p class="margin-b-5">To purchase songs, Download kaxet app through Play Store and install it.</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>    
                    </div>
                </div>
            </div>
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-note"></i>
                        </div>
                        <div class="service-info">
                            <h3>Sign UP</h3>
                            <p class="margin-b-5">Sign UP through this website as a label to publish your songs.</p>
                        </div>
                        <a routerLink="../login" routerLinkActive="active" class="content-wrapper-link"></a>    
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-check"></i>
                        </div>
                        <div class="service-info">
                            <h3>Ready for Business</h3>
                            <p class="margin-b-5">Use the app to sell your music, anywhere, anytime.</p>
                        </div>
                        <!-- <a href="#" class="content-wrapper-link"></a>     -->
                    </div>
                </div>
            </div>
        </div>
        <!--// end row -->
    </div>
  </div>
  <!-- End Service -->