<div class="container pagecontainer">
  <div class="page-header">
      <h3>Confirmation</h3>
  </div>
  <div class="jumbotron">
    <img src="../../../cassetteicon.png">
    <h4>Thank You</h4>
    
    Label User: {{ this.uname }} <br>
    status:PENDING APPROVAL <br> 
    Your account need to be verified first by our System Administrator <br>
    For more information and enquiries, you may contact adminCS@midas.co.id.
    <br><br>
    <div class="col-sm-10">
        <button type="button" (click)="onLogin()" class="btn btn-info">Back to Login</button>
    </div>  
  </div>

</div>