<div class="container pagecontainer">
  <div class="page-header">
      <h3>List Song</h3>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div *ngIf="this.loading == false" class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Search Parameter</h3>
    </div>
    <div class="panel-body">
      <form [formGroup]="reportForm" (ngSubmit)="getReport(reportForm.value)" class="form-horizontal" novalidate autocomplete="off">
        <div class="row rowmarginsearch">
            <div class="col-sm-6 col-md-6">
                <label for="labelid" class="col-sm-2 paddingsearch">Label</label>
                <div class="col-sm-10">
                    <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div> -->
                    <select class="form-control" [formControl]="labelid">
                        <!-- <option ng-selected="true" value="">Select the artist</option> -->
                        <option value="">Select the label</option>
                        <option *ngFor="let label of userlist" [ngValue]="label._id">{{label.name}}</option>
                    </select>
                  </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <label for="songname" class="col-sm-2 paddingsearch">Title</label>
              <div class="col-sm-10">
                  <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div> -->
                  <input type="text" class="form-control" id="songname" [formControl]="songname" placeholder="Song Name">
              </div>
            </div>            
        </div>
          <div class="row rowmarginsearch">
              <div class="col-sm-6 col-md-6">
                  <label for="artistname" class="col-sm-2 paddingsearch">Artist</label>
                  <div class="col-sm-10">
                      <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div> -->
                      <input type="text" class="form-control" id="artistname" [formControl]="artistname" placeholder="Artist Name">
                  </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <label for="albumname" class="col-sm-2 paddingsearch">Album</label>
                <div class="col-sm-10">
                    <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div> -->
                    <input type="text" class="form-control" id="albumname" [formControl]="albumname" placeholder="Album Name">
                </div>
              </div>
          </div>
          <div class="row rowmarginsearch">    
              <div class="col-sm-6 col-md-6">
                  <label for="albumyear" class="col-sm-2 paddingsearch">Year</label>
                  <div class="col-sm-10">
                      <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div> -->
                      <input type="text" class="form-control" id="albumyear" [formControl]="albumyear" placeholder="Year">
                  </div>
              </div>
              <div class="col-sm-6 col-md-6">
                  <label for="songgenre" class="col-sm-2 paddingsearch">Genre</label>
                  <div class="col-sm-10">
                      <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div> -->
                      <select class="form-control" [formControl]="songgenre">
                        <option ng-selected="true" value="">Select the genre</option>
                        <option *ngFor="let g of genre" [ngValue]="g.code">{{g.value}}</option>
                      </select>
                  </div>
              </div>
           </div>
          <div class="row rowmarginsearch">        
              <div class="col-sm-6 col-md-6">
                  <label for="songpublish" class="col-sm-2 paddingsearch">Publish?</label>
                  <div class="col-sm-10">
                      <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div> -->
                      <select class="form-control" [formControl]="songpublish">
                        <option ng-selected="true" value="">Select the option</option>
                        <option *ngFor="let a of ynlist" [ngValue]="a.code">{{a.value}}</option>
                      </select>
                  </div>
              </div>  
              <div class="col-sm-6 col-md-6">
                  <label for="songbuy" class="col-sm-2 paddingsearch">Buy?</label>
                  <div class="col-sm-10">
                      <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div> -->
                      <select class="form-control" [formControl]="songbuy">
                        <option ng-selected="true" value="">Select the option</option>
                        <option *ngFor="let a of ynlist" [ngValue]="a.code">{{a.value}}</option>
                      </select>
                  </div>
              </div>  
          </div>
          <div class="row rowmarginsearch">
              <div class="col-sm-6 col-md-6">
                  <label for="status" class="col-sm-2 paddingsearch">Status</label>
                  <div class="col-sm-10">
                      <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div> -->
                      <select class="form-control" [formControl]="status">
                        <option ng-selected="true" value="">Select the status</option>
                        <option *ngFor="let a of sts" [ngValue]="a.code">{{a.value}}</option>
                      </select>
                  </div>
              </div>
              <div class="col-sm-6 col-md-6">
                  <label for="submit" class="col-sm-2 paddingsearch">     </label>
                  <div class="col-sm-5">
                    <button type="submit" class="btn btn-primary" [disabled]="reportForm.invalid">Submit</button>
                  </div>
              </div>                  
          </div>
      </form>
    </div>
  </div>
    <div class="panel panel-danger" *ngIf="songs && totalrows < 1">
        <div class="panel-heading">
            <h3 class="panel-title">No song found</h3> 
        </div>
  
        <div class="panel-body">
            There is NO any songs found for the selected criteria.
        </div>
    </div>

  <div class="panel panel-default" *ngIf="songs && totalrows > 0 && this.loading == false">
      <div class="panel-heading">
          <h3 class="panel-title"><i>{{reportTitle}}</i> <b> ({{ totalrows }} records found)</b> </h3> 
      </div>
      <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th width="20%"><a style="cursor:pointer" (click)="sortSong('songname')">Song Name</a></th>
                          <th width="10%"><a style="cursor:pointer" (click)="sortSong('label')">Label</a></th>
                          <th width="10%">Artist</th>
                          <th width="20%">Album</th>
                          <th width="5%"><a style="cursor:pointer" (click)="sortSong('songbuy')">Purchase</a></th>
                          <th width="10%"><a style="cursor:pointer" (click)="sortSong('songprice')">Publish?</a></th>
                          <th width="5%">Preview</th>
                          <th width="5%">Song</th>
                          <!-- <th width="6%"><a style="cursor:pointer" (click)="sortAlbum('status')">Status</a></th> -->
                          <th width="20%">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor='let song of songs; let songIndex = index'>
                          <td><a style="font-size:12px;cursor:pointer" (click)="showSong(song._id)" data-toggle="tooltip" data-placement="top" title="View Detail">{{ song.songname}}</a></td>
                          <td style="font-size:12px">{{ song.label }}</td>
                          <td style="font-size:12px">{{ song.artist }}</td>
                          <td style="font-size:12px">{{ song.album }}</td>
                          <td class="text-right" style="font-size:12px">{{ song.songbuy}} x {{ song.songprice | currency: 'IDR':'symbol-narrow' }}</td>
                          <td style="font-size:12px">{{ song.songpublish }}</td>
                          <td><a href="{{ song.songprvwpath }}" style="cursor:pointer;float:center;color:#C92020" data-toggle="tooltip" data-placement="top" title="Play Preview"><i class="fa fa-play-circle fa-2x"></i></a></td>
                          <td><a href="{{ song.songfilepath }}" style="cursor:pointer;float:center;color:#11DFDF" data-toggle="tooltip" data-placement="top" title="Play Song"><i class="fa fa-play-circle fa-2x"></i></a></td>
                          <!-- <td>{{ albm.status}}</td> -->
                          <td>
                               <a alt="Publish" style="cursor:pointer;float:center;color:#11DFDF" (click)="publishSong(song._id, song.songname, song.songpublish)" data-toggle="tooltip" data-placement="top" title="Publish"><i class="fa fa-cloud-upload fa-2x"></i></a>
                               <a alt="Unpublish" style="cursor:pointer;float:center;color:grey" (click)="unpublishSong(song._id, song.songname, song.songpublish)" data-toggle="tooltip" data-placement="top" title="Unpublish"><i class="fa fa-cloud-download fa-2x"></i></a>
<!--                               <button type="button" class="btn-xs btn-success" aria-label="Publish" (click)="publishSong(song._id, song.songname, song.songpublish)" data-toggle="tooltip" data-placement="top" title="Publish Song">
                                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                              </button>
                              <button type="button" class="btn-xs btn-danger" aria-label="UnPublish" (click)="unpublishSong(song._id, song.songname, song.songpublish)" data-toggle="tooltip" data-placement="top" title="Cancel Publish Song">
                                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                              </button> -->
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div> 
          <div style="text-align:center" *ngIf="songs && totalrows > 10">
              <nav aria-label="Page navigation">
                  <ul class="pagination">
                      <li *ngFor="let item of createPager(pgCounter); let idx = index">
                          <a [ngClass]="{'selected': qpage == idx + 1 }" class="selected" style="cursor:pointer" (click) = "setPage(idx + 1)">{{ idx + 1 }}</a>
                      </li>
                  </ul>
              </nav>
          </div> 
      </div>

  </div>
</div>
