<div class="container pagecontainer">
    <div class="page-header">
        <h3>Song Details</h3>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="songname" class="col-sm-2 control-label">Title</label>
            <div class="form-ele col-sm-10"> {{ song?.songname }}
              <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div> -->
              <!-- <div class="form-ele">{{ song?.songname }}</div> -->
            </div>
        </div>
        <div class="form-group">
            <label for="artist" class="col-sm-2 control-label">Artist</label>
            <div class="form-ele col-sm-10">{{ song?.artist }}
              <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div>
                <div class="form-ele">{{ song?.artist }}</div> -->
            </div>
        </div>
        <div class="form-group">
            <label for="album" class="col-sm-2 control-label">Album</label>
            <div class="form-ele col-sm-10">{{ song?.album }} 
<!--               <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div>
                <div class="form-ele">{{ song?.album }}</div> -->
            </div>
        </div>
        <div class="form-group">
            <label for="songlyric" class="col-sm-2 control-label">Lyric</label>
            
            <div class="form-ele col-sm-10">{{ song?.songlyric }}
                <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div>
                <div class="form-ele">{{ song?.songlyric }}</div> -->
            </div>
        </div>
        <div class="form-group">
            <label for="songgenre" class="col-sm-2 control-label">Genre</label>
            <div class="col-sm-10" style="padding:0;margin:0;">
              <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-list"></i></div> -->
              <select disabled class="form-control selectfontsize" [formControl]="songgenre">
                  <option *ngFor="let g of genre" [ngValue]="g.code">{{g.value}}</option>
              </select>
              <!-- <div class="form-ele">{{ song?.songgenre }}</div> -->
            </div>
        </div>
        <div class="form-group">
            <label for="songprice" class="col-sm-2 control-label">Price</label>
            <div class="form-ele col-sm-10">{{ song?.songprice | currency: 'IDR':'symbol-narrow' }}
                <!-- <div class="input-group-addon">Rp</div> -->
                <!-- <div class="form-ele">{{ song?.songprice | currency: 'IDR':true }}</div> -->
            </div>
        </div>
        <div class="form-group">
            <label for="songprvwpath" class="col-sm-2 control-label">Preview</label>
            <div class="input-group col-sm-10">
              <div class="input-group-addon" style="border:1px"><i class="glyphicon glyphicon-music"></i></div>
              <a href="{{ song?.songprvwpath }}" style="cursor:pointer;padding-right:5px;float:center;color:#C92020" data-toggle="tooltip" data-placement="top" title="Play Preview"><i class="fa fa-play-circle fa-2x"></i></a>
              <!-- <div class="form-ele">{{ song?.songprvwpath }}</div> -->
            </div>
        </div>
        <div class="form-group">
            <label for="songfilepath" class="col-sm-2 control-label">File</label>
            <div class="input-group col-sm-10">
              <div class="input-group-addon" style="border:1px"><i class="glyphicon glyphicon-music"></i></div>
                <a href="{{ song?.songfilepath }}" style="cursor:pointer;float:center;color:#11DFDF" data-toggle="tooltip" data-placement="top" title="Play Song"><i class="fa fa-play-circle fa-2x"></i></a>
                <!-- <div class="form-ele">{{ song?.songfilepath }}</div> -->
            </div>
        </div>
        <div class="form-group">
            <label for="songpublish" class="col-sm-2 control-label">Publish?</label>
            <div class="form-ele col-sm-10">{{ song?.songpublish }}
              <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div>
                <div class="form-ele">{{ song?.songpublish }}</div> -->
            </div>
        </div>
        <div class="form-group">
            <label for="songbuy" class="col-sm-2 control-label">Total Purchased</label>
            <div class="form-ele col-sm-10">{{ song?.songbuy }}
              <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-download"></i></div>
                <div class="form-ele">{{ song?.songbuy }}</div> -->
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="col-sm-2 control-label">Status</label>
            <div class="col-sm-10" style="padding:0;margin:0;">
              <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-list"></i></div> -->
              <select class="form-control selectfontsize" [formControl]="status" disabled>
                    <option *ngFor="let a of sts" [ngValue]="a.code">{{a.value}}</option>
              </select>
              <!-- <div class="form-ele">{{ song?.status }}</div> -->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10" style="padding:0;margin:0;">
                <button type="button" (click)="onBack()" class="btn btn-default">Back</button>
            </div>
        </div>
    </form>
</div>
