<div class="container pagecontainer">
    <div class="page-header">
        <h3>Album Details</h3>
    </div>
    <form [formGroup]="albumForm" class="form-horizontal">
        <div class="form-group">
            <label for="albumname" class="col-sm-2 control-label">Album Name</label>
            <div class="input-group col-sm-10">
              <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div>
                <div class="form-ele">{{ album?.albumname }}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="artistname" class="col-sm-2 control-label">Artist</label>
            <div class="input-group col-sm-10">
              <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div>
                <div class="form-ele">{{ artist?.artistname }}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="albumyear" class="col-sm-2 control-label">Album Year</label>
            <div class="input-group col-sm-10">
              <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div>
                <div class="form-ele">{{ album?.albumyear }}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="albumgenre" class="col-sm-2 control-label">Album Genre</label>
            <div class="input-group col-sm-10">
              <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div>
              <select class="form-control" [formControl]="albumgenre" disabled>
                <option *ngFor="let g of genre" [ngValue]="g.code">{{g.value}}</option>
              </select>
              <!-- <div class="form-ele">{{ album?.albumgenre }}</div> -->
            </div>
        </div>
        <div class="form-group">
            <label for="albumprice" class="col-sm-2 control-label">Album Price</label>
            <div class="input-group col-sm-10">
                <div class="input-group-addon">Rp</div>
                <div class="form-ele">{{ album?.albumprice | currency: 'IDR':true }}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="col-sm-2 control-label">Status</label>
            <div class="input-group col-sm-10">
                <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div>
                <select class="form-control" [formControl]="status" disabled>
                    <option *ngFor="let a of sts" [ngValue]="a.code">{{a.value}}</option>
                </select>
                <!-- <div class="form-ele">{{ album?.status }}</div> -->
            </div>
        </div>
        <div class="form-group">
            <label for="albumphoto" class="col-sm-2 control-label">Photo</label>
            <div class="input-group col-sm-10">
              <img src="{{ album?.albumphotopath }}" class="rounded float-right" width="340" height="340">
            </div>
        </div>

        <div class="form-group">
            <label for="listsong" class="col-sm-2 control-label">Song</label>
            <div class="input-group col-sm-10" *ngIf="songs && totalrows > 0">
                <div class="col-sm-12 col-md-10">
                    <i>({{ totalrows }} songs found) </i> 
                </div><br>
                <div class="col-sm-12 col-md-10">
                    <div class="table-responsive">
                        <table class="table table-striped" width="50%">
                            <thead>
                                <tr>
                                    <th width="30%"><a style="cursor:pointer" (click)="sortSong('songname')">Song Name</a></th>
                                    <th width="5%"><a style="cursor:pointer" (click)="sortSong('songpublish')">Published?</a></th>
                                    <th width="5%"><a style="cursor:pointer" (click)="sortSong('songbuy')">Total Purchase</a></th>
                                    <th width="10%" class="text-right"><a style="cursor:pointer" (click)="sortSong('songprice')">Price</a></th>
                                    <th width="6%"><a style="cursor:pointer" (click)="sortAlbum('status')">Status</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let song of songs; let songIndex = index'>
                                    <td>{{ song.songname}}</td>
                                    <td>{{ song.songpublish}}</td>
                                    <td>{{ song.songbuy}}</td>
                                    <td class="text-right">{{ song.songprice | currency: 'IDR':true }}</td>
                                    <td>{{ song.status}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
            
                    <div style="text-align:center" *ngIf="songs && totalrows > 10">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li *ngFor="let item of createPager(pgCounter); let idx = index">
                                    <a [ngClass]="{'selected': qpage == idx + 1 }" class="selected" style="cursor:pointer" (click) = "setPage(idx + 1)">{{ idx + 1 }}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
            
                </div>
            </div>      
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <button type="button" (click)="onBack()" class="btn btn-default">Back</button>
            </div>
        </div>
    </form>
  
  </div>
