<div class="container pagecontainer">
  <div class="page-header">
      <h3>LABEL APPROVAL</h3>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div *ngIf="this.loading == false" class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Search Parameter</h3>
        </div>
        <div class="panel-body">
          <form [formGroup]="reportForm" (ngSubmit)="getReport(reportForm.value)" class="form-horizontal" novalidate autocomplete="off">
    
              <div class="row rowmarginsearch">
                  <div class="col-sm-6 col-md-6">
                      <label for="username" class="col-sm-2 paddingsearch">Username</label>
                      <div class="col-sm-10">
                          <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div> -->
                          <input type="text" class="form-control" id="username" [formControl]="username" placeholder="User Name">
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-6">
                    <label for="name" class="col-sm-2 paddingsearch">Name</label>
                    <div class="col-sm-10">
                        <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div> -->
                        <input type="text" class="form-control" id="name" [formControl]="name" placeholder="Label Name">
                    </div>
                  </div>
              </div>
                <div class="row rowmarginsearch">
                  <div class="col-sm-6 col-md-6">
                      <label class="col-sm-2 paddingsearch">      </label>
                      <div class="col-sm-5">
                        <button type="submit" class="btn btn-primary" [disabled]="reportForm.invalid">Submit</button>
                      </div>
                  </div>                  
              </div>
          </form>
        </div>
    </div>

  <div class="panel panel-danger" *ngIf="this.loading == false && labellist && totalrows < 1">
        <div class="panel-heading">
            <h3 class="panel-title">Pending Approval List</h3> 
        </div>
  
        <div class="panel-body">
            No Pending Labels found.
        </div>
    </div>
  
    <div class="panel panel-default" *ngIf="this.loading == false && labellist && totalrows > 0 && this.loading == false">
        <div class="panel-heading">
            <h3 class="panel-title">{{reportTitle}} <b> ({{ totalrows }} records found)</b> </h3> 
        </div>
        <div class="panel-body">
                <div class="table-responsive"> 
                        <table class="table table-hover">
                            <thead>
                                    <tr>
                                        <th scope="col" width="20%"><a style="cursor:pointer" (click)="sortLabel('username')">User Name</a></th>
                                        <th scope="col" width="30%"><a style="cursor:pointer" (click)="sortLabel('name')">Label Name</a></th>
                                        <th scope="col" width="20%"><a style="cursor:pointer" (click)="sortLabel('email')">Email</a></th>
                                        <!-- <th width="10%"><a style="cursor:pointer" (click)="sortLabel('verified_email')">Email Verified?</a></th> -->
                                        <th scope="col" width="10%"><a style="cursor:pointer" (click)="sortLabel('status')">Status</a></th>
                                        <th scope="col" width="20%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let lbl of labellist; let lblIndex = index'>
                                        <td scope="row" data-label="Username"><a style="cursor:pointer" (click)="showLabel(lbl._id)" data-toggle="tooltip" data-placement="top" title="View Detail">{{ lbl.username}}</a></td>
                                        <td data-label="Name">{{ lbl.name}}</td>
                                        <td data-label="Email">{{ lbl.email}}</td>
                                        <!-- <td>{{ lbl.verified_email }}</td> -->
                                        <td data-label="Status">{{ lbl.stsvalue}}</td>
                                        <td data-label="Action">
                                            <!-- <button type="button" class="btn-xs btn-success" aria-label="Activate" (click)="activateLabel(lbl._id, lbl.name, lbl.status)" data-toggle="tooltip" data-placement="top" title="Activate Label">
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            </button> -->
                                            <a style="cursor:pointer;color:darkgreen" aria-label="Approve" (click)="activateLabel(lbl._id, lbl.name, lbl.status, lbl.email,lbl.username)" data-toggle="tooltip" data-placement="top" title="Approve Label"><i class="fa fa-check fa-2x"></i></a>
                                            <!-- <button type="button" class="btn-xs btn-danger" aria-label="Deactivate" (click)="deactivateLabel(lbl._id, lbl.name, lbl.status)" data-toggle="tooltip" data-placement="top" title="Deactivate Label">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button> -->
                                            &nbsp;&nbsp;&nbsp;
                                            <a style="cursor:pointer;color:red" aria-label="Reject" (click)="deactivateLabel(lbl._id, lbl.name, lbl.status, lbl.email, lbl.username)" data-toggle="tooltip" data-placement="top" title="Reject Label"><i class="fa fa-times fa-2x"></i></a>
                                        </td>
                                    </tr>     
                                </tbody>    
                        </table>
                </div>
                <div style="text-align:center" *ngIf="labellist && totalrows > 10">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li *ngFor="let item of createPager(pgCounter); let idx = index">
                                    <a [ngClass]="{'selected': qpage == idx + 1 }" class="selected" style="cursor:pointer" (click) = "setPage(idx + 1)">{{ idx + 1 }}</a>
                                </li>
                            </ul>
                        </nav>
                </div> 
        </div>
    </div>
</div>
