<div class="container pagecontainer">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <table bgcolor="#EFF5F6" style="border-collapse: collapse; border-spacing: 0px !important; width: 100%; background-color: rgb(239, 245, 246); margin: 0px; padding: 0px; border: 0px; ">
        <tbody style="margin: 0; padding: 0;">
          <tr style="margin: 0px; padding: 0px; border: none; " bgcolor="transparent">
            <td style="margin: 0px; padding: 0px; border: none; " bgcolor="transparent">
              <table style="border-collapse: collapse; border-spacing: 0 !important; width: 540px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: center; margin: 0 auto; padding: 0; border: 0;">
                <tbody style="margin: 0; padding: 0;">
                  <tr style="margin: 0; padding: 0;">
                    <td style="width: 100%; margin: 0; padding: 0;">
      <!--                <a href="#">
                        <img alt="Relay Foods" src="http://www6.dev-chop-chop.org/JIX8STE8/images/relay-small.png" style="display: block; outline: 0; margin: 0; padding: 0; border: 0;">
                      </a> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
      
          <tr style="margin: 0px; padding: 0px; " bgcolor="#EFF5F6">
            <td style="margin: 0; padding: 0;">
              <table style="border-collapse: collapse; border-spacing: 0px !important; width: 600px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: center; border-right-color: rgb(224, 224, 224); border-left-color: rgb(224, 224, 224); margin: 0px auto; padding: 0px 0px 50px; border-style: none; border-width: 0px 1px; "
                bgcolor="transparent">
                <tbody style="margin: 0; padding: 0;">
                  <tr style="margin: 0; padding: 0;">
                    <td style="margin: 0; padding: 0;">
                      <table style="border-collapse: collapse; border-spacing: 0 !important; width: 100%; margin: 0; padding: 0; border: 0;">
                        <tbody style="margin: 0; padding: 0;">
                          <tr style="margin: 0; padding: 0;">
                            <td style="width: 100%; text-align: left; margin: 0; padding: 0;" align="left">
                              <table style="border-collapse: collapse; border-spacing: 0px !important; width: 100%; margin: 0px; padding: 0px; border: 0px; " bgcolor="#eff5f6">
                                <tbody style="margin: 0; padding: 0;">
                                  <tr style="line-height: 1px; font-size: 1px; margin: 0px; padding: 0px; " bgcolor="#eff5f6">
                                    <td style="margin: 0; padding: 0;" height="10">&nbsp;</td>
                                  </tr>
                                  <tr style="line-height: 1px; font-size: 1px; margin: 0px; padding: 0px; " bgcolor="#eff5f6">
                                    <td style="margin: 0; padding: 0;" height="10">&nbsp;</td>
                                  </tr>
                                  <tr style="margin: 0px; padding: 0px; " bgcolor="#eff5f6">
                                    <td style="margin: 0; padding: 0;">
                                      <table style="border-collapse: collapse; border-spacing: 0px !important; width: 600px; text-align: center; border-right-color: rgb(224, 224, 224); border-left-color: rgb(224, 224, 224); margin: 0px auto; padding: 0px 0px 50px; border-style: none; border-width: 1px 1px; "
                                        bgcolor="transparent">
                                        <tbody style="margin: 0; padding: 0;">
                                          <tr style="margin: 0; padding: 0;">
                                            <td style="margin: 0; padding: 0;">
                                              <h3 style="color: rgb(44, 44, 44); font-size: 24px; text-align: left; margin: 0px; padding: 0px; " align="left">Thanks for the confirmation.</h3>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr style="line-height: 1px; font-size: 1px; margin: 0px; padding: 0px; " bgcolor="#eff5f6">
                                    <td style="margin: 0; padding: 0;" height="10">&nbsp;</td>
                                  </tr>
                                      <tr style="margin: 0px; padding: 0px; border: none; " bgcolor="transparent">
            <td style="margin: 0px; padding: 0px; border: none; " bgcolor="transparent">
              <table style="border-collapse: collapse; border-spacing: 0 !important; width: 540px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: left; font-size: 14px; line-height: 20px; color: #666; margin: 0 auto; padding: 0; border: 0;"align="left">
                <tbody style="margin: 0; padding: 0;">
                  <tr style="margin: 0; padding: 0;">
                    <td style="margin: 0; padding: 0;" >{{ this.remarks1 }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
              <tr style="margin: 0px; padding: 0px; border: none; " bgcolor="transparent">
            <td style="margin: 0px; padding: 0px; border: none; " bgcolor="transparent">
              <table style="border-collapse: collapse; border-spacing: 0 !important; width: 540px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: left; font-size: 14px; line-height: 30px; color: #666; margin: 0 auto; padding: 0; border: 0;" align="left">
                <tbody style="margin: 0; padding: 0;">
                  <tr style="margin: 0; padding: 0;">
                    <td style="margin: 0; padding: 0;">{{ this.remarks2 }} <a href="mailto:cs.kaxet10@gmail.com">{{ this.csemail.value }}</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
                                  <tr style="line-height: 1px; font-size: 1px; margin: 0px; padding: 0px; " bgcolor="#eff5f6">
                                    <td style="margin: 0; padding: 0;" height="10">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              <table style="border-collapse: collapse; border-spacing: 0px !important; width: 600px; text-align: center; background-color: rgb(255, 255, 255); margin: 0px; padding: 0px 0px 50px; border-width: 0px 1px; " bgcolor="#fff">
                                <tbody>
                                  <tr style="background-color: #eff5f6; margin: 0; padding: 0;" bgcolor="#eff5f6">
                                    <td style="margin: 0; padding: 0;">
                                      <table style="border-collapse: collapse; border-spacing: 0px !important; width: 600px; text-align: center; border-right-color: rgb(224, 224, 224); border-right-style: solid; border-left-color: rgb(224, 224, 224); border-left-style: solid; border-top-color: rgb(224, 224, 224); border-top-style: solid; color: rgb(44, 44, 44); font-size: 18px; font-weight: bold; background-color: rgb(255, 255, 255); margin: 0px auto; padding: 0px 0px 50px; border-width: 1px 1px 0px; "
                                        bgcolor="#fff">
                                        <tbody style="margin: 0; padding: 0;">
                                          <tr style="margin: 0; padding: 0;">
                                            <td style="height: 55px; text-align: left; margin: 0; padding: 0;" align="left">
                                              <table style="border-collapse: collapse; border-spacing: 0 !important; width: 100%; color: #2c2c2c; font-size: 18px; font-weight: bold; margin: 0; padding: 0; border: 0;">
                                                <tbody style="margin: 0; padding: 0;">
                                                  <tr style="margin: 0; padding: 0;">
                                                    <td style="height: 55px; text-align: left; width: 50%; background-color: #7eced3; margin: 0; padding: 0 20px;" align="left" bgcolor="#7eced3"><span style="margin: 0; padding: 0;" xml="lang">Account</span>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
      <table style="border-collapse: collapse; border-spacing: 0px !important; width: 600px; text-align: left; border-right-color: rgb(224, 224, 224); border-right-style: solid; border-left-color: rgb(224, 224, 224); border-left-style: solid; border-top-color: rgb(224, 224, 224); border-top-style: solid; font-size: 18px; line-height: 22px; color: rgb(51, 51, 51); background-color: rgb(249, 248, 248); margin: 0px auto; padding: 0px 0px 50px; border-width: 1px 1px 0px; "
                                bgcolor="#f9f8f8">
                                <tbody style="margin: 0; padding: 0;">
                                  <tr style="margin: 0; padding: 0;">
                                    <td style="width: 10px; border-left-style: solid; border-left-width: 10px; border-left-color: #7eced3; margin: 0; padding: 0;">&nbsp;</td>
                                    <td style="margin: 0; padding: 18px 0;">
                                      <table style="border-collapse: collapse; border-spacing: 0 !important; width: 100%; font-size: 18px; line-height: 22px; color: #333; text-align: left; margin: 0; padding: 0; border: 0;">
                                        <tbody style="margin: 0; padding: 0;">
                                          <tr style="margin: 0; padding: 0;">
                                            <td style="font-size: 14px; color: rgb(102, 102, 102); margin: 0px; padding: 0px; ">Username: </td>
                                          </tr>
                                          <tr style="margin: 0; padding: 0;">
                                            <td style="margin: 0; padding: 0;">
                                              <table style="border-collapse: collapse; border-spacing: 0 !important; width: 100%; font-size: 18px; line-height: 22px; color: #333; text-align: left; margin: 0; padding: 0; border: 0;">
                                                <tbody style="margin: 0; padding: 0;">
                                                  <tr style="margin: 0; padding: 0;">
                                                    <td style="margin: 0; padding: 0;">{{ this.username }}</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                    <td style="width: 20px; margin: 0; padding: 0;">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>                       
                              <table style="border-collapse: collapse; border-spacing: 0px !important; width: 600px; text-align: left; border-right-color: rgb(224, 224, 224); border-right-style: solid; border-left-color: rgb(224, 224, 224); border-left-style: solid; border-top-color: rgb(224, 224, 224); border-top-style: solid; font-size: 18px; line-height: 22px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); margin: 0px auto; padding: 0px 0px 50px; border-width: 1px 1px 0px; "
                                bgcolor="#fff">
                                <tbody style="margin: 0; padding: 0;">
                                  <tr style="margin: 0; padding: 0;">
                                    <td style="width: 20px; margin: 0; padding: 0;">&nbsp;</td>
                                    <td style="margin: 0; padding: 18px 0;">
                                      <table style="border-collapse: collapse; border-spacing: 0 !important; width: 100%; font-size: 18px; line-height: 22px; color: #333; text-align: left; margin: 0; padding: 0; border: 0;">
                                        <tbody style="margin: 0; padding: 0;">
                                          <tr style="margin: 0; padding: 0;">
                                            <td style="font-size: 14px; color: rgb(102, 102, 102); margin: 0px; padding: 0px; ">Name: </td>
                                          </tr>
                                          <tr style="margin: 0; padding: 0;">
                                            <td style="margin: 0; padding: 0;">
                                              <table style="border-collapse: collapse; border-spacing: 0 !important; width: 100%; font-size: 18px; line-height: 22px; color: #333; text-align: left; margin: 0; padding: 0; border: 0;">
                                                <tbody style="margin: 0; padding: 0;">
                                                  <tr style="margin: 0; padding: 0;">
                                                    <td style="margin: 0; padding: 0;">{{ this.name }}</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                    <td style="width: 20px; margin: 0; padding: 0;">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              <table style="border-collapse: collapse; border-spacing: 0px !important; width: 600px; text-align: left; border-right-color: rgb(224, 224, 224); border-right-style: solid; border-left-color: rgb(224, 224, 224); border-left-style: solid; border-top-color: rgb(224, 224, 224); border-top-style: solid; font-size: 18px; line-height: 22px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); margin: 0px auto; padding: 0px 0px 50px; border-width: 1px 1px 0px; "
                                bgcolor="#fff">
                                <tbody style="margin: 0; padding: 0;">
                                  <tr style="margin: 0; padding: 0;">
                                    <td style="width: 20px; margin: 0; padding: 0;">&nbsp;</td>
                                    <td style="margin: 0; padding: 18px 0;">
                                      <table style="border-collapse: collapse; border-spacing: 0 !important; width: 100%; font-size: 18px; line-height: 22px; color: #333; text-align: left; margin: 0; padding: 0; border: 0;">
                                        <tbody style="margin: 0; padding: 0;">
                                          <tr style="margin: 0; padding: 0;">
                                            <td style="font-size: 14px; color: rgb(102, 102, 102); margin: 0px; padding: 0px; ">Email: </td>
                                          </tr>
                                          <tr style="margin: 0; padding: 0;">
                                            <td style="margin: 0; padding: 0;">
                                              <table style="border-collapse: collapse; border-spacing: 0 !important; width: 100%; font-size: 18px; line-height: 22px; color: #333; text-align: left; margin: 0; padding: 0; border: 0;">
                                                <tbody style="margin: 0; padding: 0;">
                                                  <tr style="margin: 0; padding: 0;">
                                                    <td style="margin: 0; padding: 0;">{{ this.email }}</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                    <td style="width: 20px; margin: 0; padding: 0;">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
        <table style="border-collapse: collapse; border-spacing: 0px !important; width: 600px; text-align: left; border-right-color: rgb(224, 224, 224); border-right-style: solid; border-left-color: rgb(224, 224, 224); border-left-style: solid; border-top-color: rgb(224, 224, 224); border-top-style: solid; font-size: 18px; line-height: 22px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); margin: 0px auto; padding: 0px 0px 50px; border-width: 1px 1px 0px; "
                                bgcolor="#fff">
                                <tbody style="margin: 0; padding: 0;">
                                  <tr style="margin: 0; padding: 0;">
                                    <td style="width: 20px; margin: 0; padding: 0;">&nbsp;</td>
                                    <td style="margin: 0; padding: 18px 0;">
                                      <table style="border-collapse: collapse; border-spacing: 0 !important; width: 100%; font-size: 18px; line-height: 22px; color: #333; text-align: left; margin: 0; padding: 0; border: 0;">
                                        <tbody style="margin: 0; padding: 0;">
                                          <tr style="margin: 0; padding: 0;">
                                            <td style="font-size: 14px; color: rgb(102, 102, 102); margin: 0px; padding: 0px; ">Usertype: </td>
                                          </tr>
                                          <tr style="margin: 0; padding: 0;">
                                            <td style="margin: 0; padding: 0;">
                                              <table style="border-collapse: collapse; border-spacing: 0 !important; width: 100%; font-size: 18px; line-height: 22px; color: #333; text-align: left; margin: 0; padding: 0; border: 0;">
                                                <tbody style="margin: 0; padding: 0;">
                                                  <tr style="margin: 0; padding: 0;">
                                                    <td style="margin: 0; padding: 0;">{{ this.utype }}</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                    <td style="width: 20px; margin: 0; padding: 0;">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              <table style="border-collapse: collapse; border-spacing: 0px !important; width: 600px; text-align: left; font-size: 18px; line-height: 22px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); margin: 0px auto; padding: 0px 0px 50px; border: 1px solid rgb(224, 224, 224); "
                                bgcolor="#fff">
                                <tbody style="margin: 0; padding: 0;">
                                  <tr style="background-color: #eff5f6; margin: 0; padding: 0;" bgcolor="#EFF5F6">
                                    <td style="margin: 0; padding: 0;">
                                      
                                    </td>
                                  </tr>
                                 
                                </tbody>
                              </table>
                              <table style="border-collapse: collapse; border-spacing: 0px !important; width: 600px; text-align: left; font-size: 18px; line-height: 20px; color: rgb(51, 51, 51); margin: 0px auto; padding: 0px 0px 50px; border: 0px solid rgb(224, 224, 224); " bgcolor="#fff">
                                <tbody style="margin: 0; padding: 0;">
                                  <tr style="background-color: #eff5f6; margin: 0; padding: 0;" bgcolor="#EFF5F6">
                                    <td style="margin: 0; padding: 0;" height="20">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td style="margin: 0; padding: 0;">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr style="margin: 0px; padding: 0px; border: none; " bgcolor="transparent">
            <td style="margin: 0px; padding: 0px; border: none; " bgcolor="transparent">
              
            </td>
          </tr>
          <tr style="margin: 0px; padding: 0px; " bgcolor="#EFF5F6">
            <td style="margin: 0; padding: 0;" height="20">&nbsp;</td>
          </tr>
        </tbody>
      </table>
        <div>
          <meta http-equiv="content-type" content="text/html; charset=utf-8">
          <table bgcolor="#EFF5F6" style="border-collapse: collapse; border-spacing: 0px !important; width: 100%; min-width: 600px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 0px; text-align: center; background-color: rgb(239, 245, 246); margin: 0px; padding: 0px; border-width: 10px 0px 0px; ">
            <tbody>
              <tr style="margin: 0; padding: 0;">
                <td style="margin: 0; padding: 0;" height="20">&nbsp;</td>
              </tr>
              <tr style="margin: 0; padding: 0;">
                <td style="margin: 0; padding: 0;" height="20">&nbsp;</td>
              </tr>
              <tr style="margin: 0; padding: 0;">
                <td style="margin: 0; padding: 0;" bgcolor="#E1E7E8" height="8">&nbsp;</td>
              </tr>
              <tr style="background-color: #e1e7e8; margin: 0; padding: 0;" bgcolor="#E1E7E8">
                <td style="margin: 0; padding: 0;">
                  
                </td>
              </tr>
              <tr style="background-color: #e1e7e8; margin: 0; padding: 0;" bgcolor="#E1E7E8">
                <td style="margin: 0; padding: 0;">&nbsp;</td>
              </tr>
        
            </tbody>
          </table>
          <br>
          <!-- / wrap table -->
         
        </div>
</div>