<div class="container pagecontainer">
    <div class="page-header">
        <h3>Change Song Files</h3>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <form [formGroup]="songForm" (ngSubmit)="updateSong(songForm.value)" class="form-horizontal" novalidate autocomplete="off">
        <div class="form-group">
          <label for="songprvw" class="col-sm-2 control-label">Song Preview</label>
          <div class="input-group col-sm-10">
              <label class="input-group-btn">
                  <span *ngIf="this.loading == false" class="btn btn-primary">
                      Browse&hellip; <input [disabled]="this.loading == true" type="file" (change)="PrvwfileChangeEvent($event)" name="songprvw" id="songprvw" style="display:none">
                  </span>
              </label>
              <input type="text" class="form-control" value="{{ this.newprvwfile }}">  
            </div>
      </div>
      <br>
      <div class="form-group">
          <label for="songfile" class="col-sm-2 control-label">Song File</label>
          <div class="input-group col-sm-10">
              <label class="input-group-btn">
                  <span *ngIf="this.loading == false" class="btn btn-primary">
                      Browse&hellip; <input [disabled]="this.loading == true" type="file" (change)="SongfileChangeEvent($event)" name="songfile" id="songfile" style="display:none">
                  </span>
              </label>
              <input type="text" class="form-control" value="{{ this.newsongfile }}">  
            </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">  </label>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">  </label>
        <mat-progress-bar mode="determinate" value="{{this.progressvalue}}"></mat-progress-bar>
        <sup *ngIf="progressvalue > 0">{{ this.progressvalue }} %</sup>
      </div>
      <div class="form-group">
          <label class="col-sm-2 control-label">     </label>
          <div class="col-sm-10" style="padding:0;margin:0;">
              <br>
              <button type="button" [disabled]="this.loading == true" (click)="onBack()" class="btn btn-default">Back</button>
          </div>
      </div>
  </form>
</div>
