<div class="container pagecontainer">
  <div class="page-header">
      <h3>Error page</h3>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Error !</h3>
    </div>
    <div class="panel-body">
        <p>There has been an Unauthorised activity OR Processing Error !<br>
        </p>
        <br>
        <div class="col-sm-12" style="margin:0;padding:0;">
          <button type="button" (click)="onLogin()" class="btn btn-info">Login</button>
        </div>
    </div>
  </div>
</div>