<div class="container pagecontainer">
    <div class="page-header">
        <h3>Change File</h3>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <form [formGroup]="msconfigForm" class="form-horizontal" novalidate autocomplete="off">
        <div class="col-lg-6 col-sm-6 col-12">
            <label for="genreimage" class="col-sm-3 control-label"></label>
            <img src="{{ this.displayImg }}" width="170" height="170">
            <br><br>
            <div class="input-group">
                <label class="input-group-btn">
                    <span *ngIf="this.loading == false" class="btn btn-primary">
                        Browse&hellip; <input [disabled]="this.loading == true" type="file" (change)="fileChangeEvent($event)" name="genreimage" id="genreimage" style="display:none">
                    </span>
                </label>
                <input [disabled]="this.loading == true" type="text" class="form-control" value="{{ this.newfile }}">  
              </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">  </label>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">  </label>
            <mat-progress-bar mode="determinate" value="{{this.progressvalue}}"></mat-progress-bar>
            <sup *ngIf="progressvalue > 0">{{ this.progressvalue }} %</sup>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">     </label>
            <div class="col-sm-10">
                <br>
                <button [disabled]="this.loading == true" type="button" (click)="onBack()" class="btn btn-default">Back</button>
            </div>
        </div>
    </form>
  </div>