<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" *ngIf="!authService.isLoggedIn()" routerLink="login">kaXet</a>
          <a class="navbar-brand" *ngIf="authService.isLoggedIn()" routerLink="report">kaXet</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              
<!--               <li ><a routerLink="report" *ngIf="authService.isLoggedIn()" routerLinkActive="active">Report</a></li>
              <li><a routerLink="editexpense" *ngIf="authService.isLoggedIn()" routerLinkActive="active">Add Expense</a></li> -->
              <li><a routerLink="about" routerLinkActive="active">About</a></li>
              <li *ngIf="authService.isLoggedIn() && authService.currentUser.usertype == 'LBL'">
                <ul class="menu">
                      <li>
                          Artist
                          <ul>
                              <li routerLink="addartist" routerLinkActive="active">Add Artist</li>
                              <li routerLink="listartist" routerLinkActive="active">Manage Artist</li>
                          </ul>
                      </li>
                </ul>
              </li>
              <li *ngIf="authService.isLoggedIn() && authService.currentUser.usertype == 'LBL'">
                <ul class="menu"> 
                      <li>
                        Album
                        <ul>
                            <li routerLink="addalbum" routerLinkActive="active">Add Album</li>
                            <li routerLink="listalbum" routerLinkActive="active">Manage Album</li>
                        </ul>
                    </li>
                  </ul>
              </li>
              <li *ngIf="authService.isLoggedIn() && authService.currentUser.usertype == 'LBL'">
                <ul class="menu">
                    <li>
                        Song
                        <ul>
                            <li routerLink="addsong" routerLinkActive="active">Add Song</li>
                            <li routerLink="listsong" routerLinkActive="active">Manage Song</li>
                        </ul>
                    </li>
                  </ul>
              </li>
              <li *ngIf="authService.isLoggedIn() && authService.currentUser.usertype == 'ADM'">
                <a routerLink="usermanagement" routerLinkActive="active">Manage Label</a>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li *ngIf="!authService.isLoggedIn()">
                  <a routerLink="login" routerLinkActive="active">Log In</a>
              </li>
              <li *ngIf="authService.isLoggedIn()">
                 <ul class="dropdown menu" data-responsive-menu="drilldown medium-dropdown">
                      <li>
                          Welcome {{ authService.currentUser.name }}
                          <ul>
                              <li routerLink="profile" routerLinkActive="active">My Profile</li>
                              <li routerLink="updateemail" routerLinkActive="active">Change Email</li>
                              <li routerLink="password" routerLinkActive="active">Change Password</li>
                              <li routerLink="logout" routerLinkActive="active">Logout</li>
                          </ul>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>