<!-- Fixed navbar -->
<div id="wrap">
    
        <header>   
            <div class="inner relative">
                <a class="logo" routerLink="about"><img src="KXLOGO6.png" alt="kaxet"></a>
                <a id="menu-toggle" class="button dark" href="#"><i class="fa fa-bars fa-2x"></i></a>
                <nav id="navigation">
                    <ul id="main-menu" onclick="toggleMenu()">
                        <li *ngIf="authService.isLoggedIn()">
                            <a style="cursor:pointer;float:center;color:#fce86c" routerLink="report" routerLinkActive="active"><i class="fa fa-home fa-lg"></i></a>
                        </li>
                        <li class="parent" *ngIf="authService.isLoggedIn() && authService.currentUser.usertype == 'LBL'">
                            <a routerLink="listartist" routerLinkActive="active">Artist</a>
                            <ul class="sub-menu">
                                <li><a routerLink="addartist" routerLinkActive="active"><i class="fa fa-plus-square"></i>  Add Artist</a></li>
                                <li><a routerLink="listartist" routerLinkActive="active"><i class="fa fa-edit"></i>  Manage Artist</a></li>
                            </ul>
                        </li>
                        <!-- <li><a href="http://www.freshdesignweb.com/responsive-drop-down-menu-jquery-css3-using-icon-symbol.html">Portfolio</a></li> -->
                        <li class="parent" *ngIf="authService.isLoggedIn() && authService.currentUser.usertype == 'LBL'">
                            <a routerLink="listalbum" routerLinkActive="active">Album</a>
                            <ul class="sub-menu">
                                <li><a routerLink="addalbum" routerLinkActive="active"><i class="fa fa-plus-square"></i>  Add Album</a></li>
                                <li><a routerLink="listalbum" routerLinkActive="active"><i class="fa fa-edit"></i>  Manage Album</a></li>
                            </ul>
                        </li>
                        <li class="parent" *ngIf="authService.isLoggedIn() && authService.currentUser.usertype == 'LBL'">
                            <a routerLink="listsong" routerLinkActive="active">Song  <i class="fa fa-music"></i></a>
                            <ul class="sub-menu">
                                <li><a routerLink="addsong" routerLinkActive="active"><i class="fa fa-plus-square"></i>  Add Song</a></li>
                                <li><a routerLink="listsong" routerLinkActive="active"><i class="fa fa-edit"></i>  Manage Song</a></li>
                            </ul>
                        </li>
                        <li class="parent" *ngIf="authService.isLoggedIn() && authService.currentUser.usertype == 'ADM'">
                            <a style="cursor:pointer">Data</a>
                            <ul class="sub-menu">
                                <li><a routerLink="labelstats" routerLinkActive="active">Labels</a></li>
                                <li><a routerLink="artiststats" routerLinkActive="active">Artists</a></li>
                                <li><a routerLink="albumstats" routerLinkActive="active">Albums</a></li>
                                <li><a routerLink="songstats" routerLinkActive="active">Songs</a></li>
                            </ul>
                        </li>                        
                        <li class="parent" *ngIf="authService.isLoggedIn() && authService.currentUser.usertype == 'ADM'">
                            <a style="cursor:pointer">Pending Action</a>
                            <ul class="sub-menu">
                                <!-- <li><a routerLink="usermanagement" [queryParams]="{status:'STSPEND',veremail:'Y'}" routerLinkActive="active">Pending Labels</a></li> -->
                                <li><a routerLink="usermanagement" routerLinkActive="active">Pending Labels</a></li>
                                <!-- <li><a routerLink="songmanagement" [queryParams]="{songpublish:'N'}" routerLinkActive="active"><i class="fa fa-music"></i> Publish Songs</a></li> -->
                                <li><a routerLink="songmanagement" routerLinkActive="active"><i class="fa fa-music"></i> Publish Songs</a></li>
                            </ul>
                        </li>                        
                        <li class="parent" *ngIf="authService.isLoggedIn() && authService.currentUser.usertype == 'ADM'">
                                <a routerLink="listconfig" routerLinkActive="active">Master Config  <i class="fa fa-wrench"></i></a>
                                <ul class="sub-menu">
                                    <li><a routerLink="addconfig" routerLinkActive="active">Add Config</a></li>
                                    <li><a routerLink="addgroup" routerLinkActive="active">Add Group</a></li>
                                    <li><a routerLink="listconfig" routerLinkActive="active">Manage Config</a></li>
                                </ul>
                        </li>
                        <li class="current-menu-item" *ngIf="!authService.isLoggedIn()"><a routerLink="login" routerLinkActive="active"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>  Login</a></li>
                        <li class="parent" *ngIf="authService.isLoggedIn()">
                                <a routerLink="profile" routerLinkActive="active">Hi, {{ authService.currentUser.name }}  <i class="fa fa-user"></i></a>
                                <ul class="sub-menu">
                                    <li><a routerLink="profile" routerLinkActive="active">My Profile</a></li>
                                    <li><a routerLink="updateemail" routerLinkActive="active">Change Email</a></li>
                                    <li><a routerLink="password" routerLinkActive="active">Change Password</a></li>
                                    <li><a routerLink="logout" routerLinkActive="active">Logout</a></li>
                                </ul>
                            </li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
        </header>	
    </div> 