<div class="container pagecontainer">
    <div class="page-header">
        <h3>VIEW TRANSFER REQUEST</h3>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="reqdate" class="col-sm-4 control-label">Request Date</label>
                    <div class="form-ele col-sm-8"> {{ trfbalancereq?.requestdt | date: 'd MMM y'}}</div>
                </div> 
                <div class="form-group">
                    <label for="amount" class="col-sm-4 control-label">Amount</label>
                    <div class="form-ele col-sm-8">{{ trfbalancereq?.amount | currency: 'IDR':'symbol-narrow' }}
                        <!-- <div class="input-group-addon">Rp</div> -->
                        <!-- <div class="form-ele">{{ song?.songprice | currency: 'IDR':true }}</div> -->
                    </div>
                </div>
              <div class="form-group">
                    <label for="insref" class="col-sm-4 control-label">Ins Reference</label>
                    <div class="col-sm-8 form-ele">{{ trfbalancereq?.insref }}
                      <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div>
                        <div class="form-ele">{{ artist?.artistname }}</div> -->
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-sm-4 control-label">Status</label>
                    <div class="col-sm-8 form-ele">{{ trfbalancereq?.stsvalue }}</div>
                </div>

                <div class="form-group">
                  <label for="account" class="col-sm-2"></label>
                  <div class="col-xs-12 col-sm-10 input-group">
                    <h4>Will be Transfered To</h4>            
                    <ul class="list-group">
                        <li class="list-group-item borderless bordersideless">Account No <span class="badge"><b><i>{{ trfbalancereq?.bankaccno }}</i></b></span></li>
                        <li class="list-group-item borderless bordersideless">Account Name <span class="badge"><b><i>{{ trfbalancereq?.bankaccname }}</i></b></span></li>
                        <li class="list-group-item borderless bordersideless">Bank Name <span class="badge"><b><i>{{ trfbalancereq?.bankname }}</i></b></span></li>
                    </ul>
                  </div>
                </div>
                <hr class="line-grey-center">
                <div class="form-group">
                    <label for="bankref" class="col-sm-4 control-label">Bank Reference</label>
                    <div class="col-sm-8 form-ele">{{ trfbalancereq?.bankref }}
                      <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-font"></i></div>
                        <div class="form-ele">{{ artist?.artistname }}</div> -->
                    </div>
                </div>
                <div class="form-group">
                    <label for="trfdate" class="col-sm-4 control-label">Transfer Date</label>
                    <div class="form-ele col-sm-8"> {{ trfbalancereq?.transferdt | date: 'd MMM y'}}</div>
                </div> 
                
                <div class="form-group">
                    <label for="remarks" class="col-sm-4 control-label">Remarks</label>
                    <div class="form-ele col-sm-8">{{ trfbalancereq?.remarks }}</div>
                </div>
                
            </form>
        </div>
        <div class="col-sm-2 thumbpadding">
            <label *ngIf="trfslip" for="slip" class="control-label">Transfer Slip</label>        
            <img *ngIf="trfslip" src="{{ trfbalancereq?.transferslippath }}" class="img-thumbnail thumbviewsize">
        </div>
    </div>
    <div class="form-group">
         <label class="col-sm-1"></label>
        <div class="col-sm-11">
            <button type="button" (click)="onBack()" class="btn btn-default">Back</button>
        </div>
    </div>
    <hr>    
</div>